<?xml version="1.0"?>
<WaterModuleConfig>
  <WaterConfig>
    <IsUsed>true</IsUsed>
    <imageWidth>0</imageWidth>
    <imageHeigh>0</imageHeigh>
    <WaterClassType>3</WaterClassType>
    <WaterClass>2</WaterClass>
    <imgLogo>/Images/logo.png</imgLogo>
    <imgAlph>100</imgAlph>
    <WaterWord>逐浪软件</WaterWord>
    <WaterWordType>黑体</WaterWordType>
    <WaterWordStyle>3</WaterWordStyle>
    <WaterWordSize>20</WaterWordSize>
    <WaterWordColor>#00FF33</WaterWordColor>
    <WaterWordAlph>11</WaterWordAlph>
    <lopostion>9</lopostion>
    <loX>200</loX>
    <loY>200</loY>
    <WaterImgs>[{"url":"/UploadFiles/3D/200912/200912111913258191.jpg","desc":""},{"url":"/UploadFiles/demo/01.jpg","desc":""},{"url":"/UploadFiles/demo/02.jpg","desc":""}]</WaterImgs>
  </WaterConfig>
</WaterModuleConfig>